<h1>File Manager</h1>

<form action="" method="post">
	<input type="file" name="upload" />
	<select name="filter">
		<option value="">Sort by...</option>
	</select>

	<select name="sort">
		<option value="">Filter by...</option>
	</select>

	<input type="search" name="search" placeholder="Search" />
</form>

{% for file in files %}
	<a href="/files/detail/{{ file.fileID }}"><img src="{{ file.url }}" alt="{{ file.altText }}" /></a>
{% endfor %}
